@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #002b36;
    width: 100%;
    height: 100vh;
}

.box2,
.box {
    height: 100%;
    width: 100%;
    position: absolute;
}

.mess {
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}

.d1,.d2,.d3,.d4,.d5,.d6,.d7, .d8, .d9, .d10 {
    text-align: center;
    display: block;
    color: white;
    line-height: 2;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.d1 {
    animation: text 10s forwards;
}
.d2 {
    animation: text 10s forwards ;
    animation-delay: 10s;
}
.d3 {
    animation: text 10s forwards ;
    animation-delay: 14s;
}
.d4 {
    animation: text 10s forwards ;
    animation-delay: 24s;
}
.d5 {
    animation: text 10s forwards ;
    animation-delay: 30s;
}
.d6 {
    animation: text 10s forwards;
    animation-delay: 38s;
}
.d7 {
    animation: text 10s forwards ;
    animation-delay: 46s;
}

.d8 {
    animation: text 10s forwards ;
    animation-delay: 52s;
}

.d9 {
    animation: text 10s forwards ;
    animation-delay: 60s;
}

.d10 {
    animation: text 10s forwards ;
    animation-delay: 66s;
}

.hide {
    display: none;
}
@keyframes text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
#btn2,
.boxbtn {
    position: absolute;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.star-icon {
    margin-left: -9px;
    z-index: 100;
    position: absolute;
    top: 20%;
    left: 50%;
    color: yellow;
    animation: starturn 1s infinite linear forwards;
}

@keyframes starturn {
    to {
        transform: rotate(1turn);
    }
}
.tree2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 27%;
     z-index: 2;
   border-bottom: 100px solid rgb(57, 223, 57);
   border-right: 100px solid transparent;
   border-left: 100px solid transparent;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
}
.tree3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
     z-index: 1;
   border-bottom: 100px solid rgb(23, 212, 23);
   border-right: 100px solid transparent;
   border-left: 100px solid transparent;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
}
.tree1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 21%;
     z-index: 3;
   border-bottom: 100px solid rgb(36, 141, 36);
   border-right: 100px solid transparent;
   border-left: 100px solid transparent;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
}

.tree1::after {
    display: block;
    position: absolute;
    top: 77px;
    left: 71px;
    content: "";
    width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    animation: light 1.5s  linear infinite ;
    animation-delay: 1s;
}

.tree1::before {
    display: block;
    position: absolute;
    top: 77px;
    right: 72px;
    content: "";
    width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    animation: light 1.5s  linear infinite ;
    animation-delay: 1s;
}


.tree2::before {
    display: block;
    position: absolute;
    top: 77px;
    right: 72px;
    content: "";
    width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    animation: light 1.5s  linear infinite ;
    animation-delay: 1.25s;
}

.tree2::after {
    display: block;
    position: absolute;
    top: 77px;
    left: 71px;
    content: "";
    width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    animation: light 1.5s  linear infinite ;
    animation-delay: 1.25s;
}

.tree3::after {
    display: block;
    position: absolute;
    top: 77px;
    left: 71px;
    content: "";
    width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    animation: light 1.5s  linear infinite ;
    animation-delay: 1.5s;
}


.tree3::before {
    display: block;
    position: absolute;
    top: 77px;
    right: 72px;
    content: "";
    width: 10px;
    height: 20px;
    border-radius: 20px;
    background-color: yellow;
    animation: light 1.5s  linear infinite ;
    animation-delay: 1.5s;
}

@keyframes light {
    to {
    box-shadow: 1px 0 4px 4px rgba(255, 255, 0, 0.5);

    }
}

.tree4 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    width: 30px;
    height: 100px;
    background-color: brown;
}

.snow {
    size: 10cm;
    border-radius: 50%;
    position: absolute;
    animation: down 2s  linear infinite;
    background-color: white;
}

@keyframes down {
    from    {
        top: 0px;
    }
    to {
    top: 100vh
        
    }
}

marquee {
    font-size: 30px;
    width: 100%;
    color: red;
    margin-top: 30px;
    text-transform: uppercase;
}

.text {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}
.text h1 {
    margin-left: 10px;
}

.text .h1 {
    animation: color1 1s ease infinite;
}

.text .h2 {
    animation: color2 1s ease infinite;
    animation-delay: 0.5s;
}

.text .h3 {
    animation: color3 1s ease infinite;
    animation-delay: 1s;
    
}

.text .h4 {
    animation: color4 1s ease infinite;
    animation-delay: 1.5s;
}

.text .h5 {
    animation: color5 1s ease infinite;
    animation-delay: 2s;
}

.text .h6 {
    animation: color6 1s ease infinite;
    animation-delay: 2.5s;
}

.text .h7 {
    animation: color7 1s ease infinite;
    animation-delay: 3s;
}

.text .h8 {
    animation: color8 1s ease infinite;
    animation-delay: 3.5s;
}

@keyframes color1 {
    from {
        color: #002b36;
    }
    to {
        color: red;
    }
}


@keyframes color2 {
    from {
        color: #002b36;
    }
    to {
        color: yellow;
    }
}


@keyframes color3 {
    from {
        color: #002b36;
    }
    to {
        color: green;
    }
}


@keyframes color4 {
    from {
        color: #002b36;
    }
    to {
        color: orange;
    }
}


@keyframes color5 {
    from {
        color: #002b36;
    }
    to {
        color: blue;
    }
}

@keyframes color6 {
    from {
        color: #002b36;
    }
    to {
        color: purple;
    }
}


@keyframes color7 {
    from {
        color: #002b36;
    }
    to {
        color: yellow;
    }
}


@keyframes color8 {
    from {
        color: #002b36;
    }
    to {
        color: brown;
    }
}